{% extends 'MBMBServicesBundle:Default:index.html.twig' %}
{% block page_content %}
    <section class="services-offer-section">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="offer-post">
                        <a href="services.html"><img width="50%" height="250px" src="{{ asset('bundles/mbmbservices/images/demenagement_paris.jpg') }}" alt=""></a>
                        <h2>Déménager c'est stressant ! <br> C'est  un événement  particulier qui changera toutes vos habitudes.
                            <br>
                            C'est donc naturellement stressant !
                        </h2>
                            <h4><a href="services.html">Ecouter – Comprendre – Préparer – Réaliser - Satisfaire</a></h4>
                        <p>Sont  les maîtres mots pour réussir cette mission. Dans cette période de mutations l’activité du déménagement se révèle déterminante pour l’équilibre et l’efficacité de tous. A titre privé ou professionnel nous vous proposons des  prestations différentes avec des déménageurs qualifiés.</p>
                    </div>
                    <ul>
                        <li>element1</li>
                        <li>element1</li>
                        <li>element1</li>
                        <li>element1</li>
                        <li>element1</li>
                        <li>element1</li>
                        <li>element1</li>
                        <li>element1</li>
                        <li>element1</li>

                    </ul>
                </div>
            </div>
        </div>
    </section>
{% endblock page_content %}
