{% extends 'MBMBServicesBundle:Default:index.html.twig' %}
{% block page_content %}
    <section class="services-offer-section">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="offer-post">
                        <a href="services.html"><img src="{{ asset('bundles/mbmbservices/upload/others/con22.jpg') }}" alt=""></a>
                        <h2><a href="services.html">Préparation3 transport national</a></h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="offer-post">
                        <a href="services.html"><img src="{{ asset('bundles/mbmbservices/upload/others/con2.jpg') }}" alt=""></a>
                        <h2><a href="services.html">Collecte</a></h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="offer-post">
                        <a href="services.html"><img src="{{ asset('bundles/mbmbservices/upload/others/con3.jpg') }}" alt=""></a>
                        <h2><a href="services.html">Rangement</a></h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock page_content %}
