<!-- Header
        ================================================== -->
<header class="clearfix">
    <div class="logo">
        <a href="index.html"><img src="images/logo.png" alt=""></a>
    </div>

    <a class="elemadded responsive-link" href="#">Menu</a>

    <nav class="nav-menu">
        <ul class="menu-list">
            <li><a class="active" href="index.html">Accueil</a></li>
            <li><a href="about.html">A propos ne nous</a></li>
            <li><a href="gallery.html">Notre gallerie</a></li>
            <li class="drop"><a href="services.html">Nos services</a>
                <ul class="dropdown">
                    <li><a href="transportation.html">Transport</a></li>
                    <li><a href="packing.html">Emballage</a></li>
                    <li><a href="removals.html">Retrait</a></li>
                    <li><a href="collecting.html">Collecte</a></li>
                    <li><a href="preaparing.html">Préparation</a></li>
                    <li><a href="delivery.html">Livraison</a></li>
                </ul>
            </li>
            <li><a href="blog.html">Nouveautés</a></li>
            <li><a href="contact.html">Contact</a></li>
        </ul>
    </nav>
    <div class="guide-box">
        <h2>Nos plaquettes</h2>
        <ul>
            <li><a href="http://nunforest.com/pdf/guide.pdf" target="_blank"><i class="fa fa-file-pdf-o"></i>Transport</a></li>
            <li><a href="http://nunforest.com/pdf/guide.pdf" target="_blank"><i class="fa fa-file-pdf-o"></i>Déménagement</a></li>
        </ul>
    </div>
</header>
<!-- End Header -->